body {
    background-color: hotpink;
}

h1 {
    display: flex;
    justify-content: center;
}

.home-screen {
    display: flex;
    justify-content: center;
}

.startbutton {
    margin-left: 39%;
    width: 20%;
    height: 40px;
    background-color: black;
    color: hotpink;
    font-size:  2rem;
}

button {
    margin: 20px;
    background-color: black;
    color: hotpink;
    font-size: 2rem;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
}

.btn {
    display: flex;
    justify-content: space-evenly;
}

.modal {
    background-color: hotpink;
}